html {
    min-height: 100%
}

@font-face {
    font-family: 'coolvetica';
    src: url('../Fonts/coolvetica\ rg.otf') format('truetype');
}

@font-face {
    font-family: 'signature';
    src: url('../Fonts/Photograph\ Signature.ttf') format('truetype');
}

@font-face {
    font-family: 'CIND';
    src: url('../Fonts/CIND.otf') format('truetype');
}

body {
    margin: 0;
    font-family: 'coolvetica';
    background-attachment: fixed;
    background: #2A2A2A;
    background: radial-gradient(at center, #2A2A2A, #010101);
    color: #fff;
}

header {
    position: fixed;
    width: 100%;

    background: transparent;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 1000;
}

.logo {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}

nav {
    display: flex;
}

nav a {
    text-decoration: none;
    color: #B5B5B5;
    margin: 0 40px;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #fff;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}